<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Johan/Proyecto_salon_comunal/api/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        FallbackResource /Johan/Proyecto_salon_comunal/api/index.php
    </IfModule>
</IfModule>
